<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/mainLayout}">
<body>
	<main layout:fragment="content"> 
		<div class="container">
			<div class="col-lg-12" th:if="${error}">
			<div class="alert alert-dismissible alert-danger">
		  		<button type="button" class="close" data-dismiss="alert">&times;</button>
		  		<strong>Oh snap!</strong> <p th:text="${error}"></p>
			</div>
		</div>
			<div class="row main-box-login">
				<div class="col-md-7">
	
						<div class="logo-left-image">
	
								<img th:src="@{/images/login-left.png}" />
								
													</div>
	
				</div>
				<div class="col-lg-5">
					 <div class="col-md-12 signup-form">
	
						<div class="logo-image">
	
	
						</div>
						<form th:action="@{/signup/execute}" method="post" th:object="${signUpDTO}">
							<fieldset>
								<legend class="text-center">Create User</legend>
								<div class="form-group">
									<div class="input-group">
											<div class="input-group-append">
													<span class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></span>
												  </div><input type="email" required="required" class="form-control custom-fields" th:field="*{username}"  placeholder=" Username/Email (Required)" />
								</div>
								<!-- <div class="col-md-12 check-box-m">
                                 <input type="checkbox" th:field="*{invitation}" ><span class="checkbox-text"> Sending Invitation to this new user ?</span>
                              <div class="col-md-12">
                              	<span th:each="str,iterStat : ${invitationTypes}">
			 						<input type="checkbox" name="sendinginviation" th:value="${str}" th:field="*{invitationType}">
			 						<span class="checkbox-text" th:text="${str}"> </span>
			 						&nbsp;&nbsp;
					 			</span> -->
							 <!-- <input type="checkbox" name="sendinginviation" ><span class="checkbox-text"> Email</span> -->
							  <!-- </div>
								</div> -->
								</div>
								<!-- <div class="form-group">
										<div class="input-group">
												<div class="input-group-append">
														<span class="input-group-text"><i class="fa fa-lock"></i></span>
													  </div> <input type="password" required="required" class="form-control custom-fields" th:field="*{tempPassword}" placeholder="Temporary Password">
									</div>
								</div> -->
								<!-- <div class="form-group">
									<div class="input-group">
											<div class="input-group-append">
													<span class="input-group-text"><i class="fa fa-phone-square"></i></span>
												  </div> <input type="text" class="form-control custom-fields" th:field="*{phoneNumber}" placeholder="Phone Number">
								</div>
								<div class="col-md-12 check-box-m">
									<input type="checkbox" name="makePhNoVerifired" th:value="makePhNoVerifired" th:field="*{makePhNoVerifired}"><span class="checkbox-text"> Make Phone Number as Verified ?</span>
						
								   </div>
							</div> -->
							<!-- <div class="form-group">
								<div class="input-group">
										<div class="input-group-append">
												<span class="input-group-text"><i class="fa fa-envelope"></i></span>
											  </div> <input type="email" required="required" class="form-control custom-fields" th:field="*{email}" placeholder="Email Address (Required)">
							</div>
							<div class="col-md-12 check-box-m">
								<input type="checkbox" name="makeEmailVerified" th:value="makeEmailVerified" th:field="*{makeEmailVerified}"><span class="checkbox-text"> Make Email as Verified ?</span>
					
							   </div>
						</div> -->
						
								<div class="form-group">
									<button type="submit" class="btn btn-secondary btn-block btn-theme-global">Create User</button>
								</div>
							</fieldset>
						</form>
					</div>
			<!-- 		<div class="form-group">
						<div class="input-group">
							<a th:href="@{/forgotPassword/input}" >Forgot Password</a>
						</div>
						<div class="input-group">
							<a th:href="@{/signup}" >SignUp</a>
						</div>
					</div> -->
		
					<div class="col-md-12 login-bar text-center">
						<span class="signup-text"> Already a member ? 	<a th:href="@{/login}" > Login </a></span>
			
			
							</div>
					</div>
			</div>
		</div>
</main>
</body>
</html>