<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/mainLayout}">
<body>
	<main layout:fragment="content">
	<!-- <form th:action ="@{/resetPassword/input}">
	Enter Email : <input type="Email" />
	<input type="submit" />
	</form> --> 
<div class="container">

	<div class="row main-box-login">
		<div class="col-md-7">

				<div class="logo-left-image">

						<img th:src="@{/images/login-left.png}" />
						
					</div>

		</div>
		<div class="col-lg-5">
			 <div class="col-md-12 login-form recovery">

				<div class="logo-image">


				</div>
				<form  th:action ="@{/resetPassword/input}" method="post" >
					<fieldset>
						<legend class="text-center">ACCOUNT RECOVERY</legend>
						<div class="form-group">
							<div class="input-group">
									<div class="input-group-append">
											<span class="input-group-text"><i class="fa fa-envelope"></i></span>
										  </div><input type="email" class="form-control custom-fields" name="eamil" id="email"  placeholder="Email Address" />
						</div>
						</div>
			
				
						<div class="form-group">
							<button type="submit" class="btn btn-secondary btn-block btn-theme-global">Recover Password</button>
						</div>
					</fieldset>
				</form>
			</div>

			</div>
	</div>


</div>


	</main>
</body>
</html>