<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/mainLayout}">
<body>
	<main layout:fragment="content">
	<!-- <form th:action ="@{/resetPassword/input}">
	Enter Email : <input type="Email" />
	<input type="submit" />
	</form> --> 
<div class="container">
<div class="col-lg-12" th:if="${error}">
			<div class="alert alert-dismissible alert-danger">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong>Oh snap!</strong>
				<p th:text="${error}"></p>
				.
			</div>
		</div>
	<div class="row main-box-login">
		<div class="col-md-7">

				<div class="logo-left-image">

						<img th:src="@{/images/login-left.png}" />
						
					</div>

		</div>
		<div class="col-lg-5">
			 <div class="col-md-12 login-form recovery">

				<div class="logo-image">


				</div>
				<form  th:action ="@{/forgotPassword/execute}" method="post" th:object="${forgotPasswordDto}">
					<fieldset>
						<legend class="text-center">ACCOUNT RECOVERY</legend>
						<div class="form-group">
							<div class="input-group">
									<div class="input-group-append">
											<span class="input-group-text"><i class="fa fa-envelope"></i></span>
										  </div><input type="email"  required="required" class="form-control custom-fields" th:field="*{username}"  placeholder="Email Address (Required)"  onkeyup="Javascript: forgotPassword.onKeyUpUsername()"/>
						</div>
						</div>
						<div>
							<div id="resetPasswordDiv"
								th:include="/password/reset :: resetPassword">
							</div>
						</div>
						
						
			
				
						<div class="form-group">
							<button type="submit" id="forgotPasswordSubmit"  class="btn btn-secondary btn-block btn-theme-global">Recover Password</button>
						</div>
					</fieldset>
				</form>
			</div>

			</div>
	</div>
	<script th:src="@{/js/app/forgotPassword.js}" src="../public/js/app/forgotPassword.js" type="text/javascript"></script>


</div>


	</main>
</body>
</html>