<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/mainLayout}">
<body>
<main layout:fragment="content">
<div class="container">

	  
		<div class="row">
<!-- 				<div class="col-lg-4 col-xs-4">
				  small box 
				  <div class="small-box bg-aqua">
					<div class="inner">
					  <h3>10</h3>
		
					  <p>Toatal Twitter Stream</p>
					</div>
					<div class="icon">
					  <i class="fa"><img width="100px" th:src="@{/images/users.png}"/></i>
					</div>
					<a th:href="@{/analyze/dashboard/streamsActivity}" class="small-box-footer">Twitter Stream Activity<i class="fa fa-arrow-circle-right"></i></a>
				  </div>
				</div> -->
				<!-- ./col -->
<!-- 				<div class="col-lg-4 col-xs-4">
				  small box 
				  <div class="small-box bg-grey">
					<div class="inner">
					  <h3>18<sup style="font-size: 20px"></sup></h3>
					<p>Total Activity</p>
					</div>
					<div class="icon">
					  <i class="fa"><img width="100px" th:src="@{/images/activity.png}"/></i>
					</div>
					<a th:href="@{/analyze/dashboard/userActivity}" class="small-box-footer second">User Activity <i class="fa fa-arrow-circle-right"></i></a>
				  </div>
				</div> -->
				<!-- ./col -->
				<div class="col-lg-4 col-xs-4">
				  <!-- small box -->
				  <div class="small-box bg-aqua">
					<div class="inner">
					  <h3>20</h3>
		
					  <p>Total Reports</p>
					</div>
					<div class="icon">
					  <i class="fa"><img width="100px" th:src="@{/images/reports.png}"/> </i>
					</div>
					<a href="Javascript: Common.comingSoon()" class="small-box-footer third">View All Reports <i class="fa fa-arrow-circle-right"></i></a>
				  </div>
				</div>
		
			  </div>
</div>
</main>
</body>
</html>