<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/mainLayout}">
<body>
	<main layout:fragment="content"> 
	
	<div class="col-lg-12" th:if="${error}">
		<div class="alert alert-dismissible alert-danger">
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		  <strong>Oh snap!</strong> <p th:text="${error}"></p>.
		</div>
	</div>
	
	<div class="row text-center">
		<div class="col-md-6 mx-auto">
			<div class="card border-primary mb-3">
				<div class="card-body">
					<form th:action="@{/analyze/query/execute}" method="post" >
						<fieldset>
							<legend>Analyze</legend>
							<div class="row">

								<div class="form-group col-lg-12">
									<label for="asql">Type your query</label> 
									<input type="text" class="form-control" name="asql" id="aSql" th:value="${asql}" placeholder="Enter your Query Here" onkeyup ="Javascript: Analyze.onKeyUpAnalyzeQuery()"/>
      								<label for="or">OR</label>
      									<div class="col-lg-12">
      										<label for="selectedSql">Choose from Existing</label>      										
      										<select class="form-control" name="selectedSql" id="selectedSql" onchange="Javascript: Analyze.onChangeDorpDown()">
      									    	<option th:value="''">Select</option>
        										 <option th:value="'select lang, count(*) cnt from socialanalyticsblog.tweets group by lang order by cnt desc'">select lang, count(*) cnt from socialanalyticsblog.tweets group by lang order by cnt desc</option>
        										<option th:value="'select ts.text, ts.originaltext from socialanalyticsblog.tweet_sentiments ts join socialanalyticsblog.tweets t on (ts.tweetid = t.id) where lang = \'en\' and ts.text like \'%good%\' '">select ts.text, ts.originaltext from socialanalyticsblog.tweet_sentiments ts join socialanalyticsblog.tweets t on (ts.tweetid = t.id) where lang = 'en' and ts.text like 'good'</option>
        										<option th:value="'select ts.text, ts.originaltext from socialanalyticsblog.tweet_sentiments ts join socialanalyticsblog.tweets t on (ts.tweetid = t.id) where lang = \'ar\' '">select ts.text, ts.originaltext from socialanalyticsblog.tweet_sentiments ts join socialanalyticsblog.tweets t on (ts.tweetid = t.id) where lang = 'ar'</option>
        										<option th:value="'select * from socialanalyticsblog.tweet_sentiments where sentiment = \'POSITIVE\' limit 20 '">select * from socialanalyticsblog.tweet_sentiments where sentiment = 'POSITIVE' limit 20</option>
      										 </select>
      									</div>
								</div>
								<div class="form-group col-lg-12 text-center">
									<button type="submit" class="btn btn-secondary btn-block">Execute</button>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<table class="table table-hover table-bordered table-striped">
			  <thead>
			    <tr>
			      <th scope="row" th:each="column : ${columns}" th:text="${column}" class="text-capitalize">Header</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr th:each="row : ${rows} ">
			      <td th:each="column : ${columns}" th:text="${row.get(column)}">Column content</td>
			    </tr>
			  </tbody>
			</table> 
		</div>
    </div>



	</main>
</body>
</html>