<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/mainLayout}">
<body>
	<main layout:fragment="content"> 
	
	<div class="row">
		<div class="col-lg-3 mx-auto">
			<div class="card mb-3">
				<div class="card-body">
					<a th:href="@{/analyze/query/input}" class="btn btn-secondary btn-lg btn-block">Execute Query</a>
				</div>
			</div>
		</div>
		<div class="col-lg-3 mx-auto">
			<div class="card mb-3">
				<div class="card-body">
					<!-- <a th:href="@{/analyze/dashboard}" class="btn btn-secondary btn-lg btn-block">View Dashboard</a> -->
					<a href="Javascript: Common.comingSoon()" class="btn btn-secondary btn-lg btn-block">View Dashboard</a>
				</div>
			</div>
		</div>
		<div class="col-lg-3 mx-auto">
			<div class="card mb-3">
				<div class="card-body">
					<!-- <a th:href="@{/analyze/extractImages}" class="btn btn-secondary btn-lg btn-block">Extract Images</a> -->
					<a href="Javascript: Common.comingSoon()" class="btn btn-secondary btn-lg btn-block">Extract Images</a>
				</div>
			</div>
		</div>
	</div>



	</main>
</body>
</html>