<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div th:fragment="listing">
<div id="displayCollect">
	<div class="container">
		<div class="col-lg-12" th:if="${stop}">
			<div class="alert alert-dismissible alert-danger">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong>Oh snap!</strong>
				<p th:text="${stop}"></p>
			</div>
		</div>

		<div class="col-lg-12" th:if="${delete}">
			<div class="alert alert-dismissible alert-danger">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong>Oh snap!</strong>
				<p th:text="${delete}"></p>
			</div>
		</div>
		
		<div class="col-lg-12" th:if="${success}">
			<div class="alert alert-dismissible alert-danger">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong>Oh snap!</strong>
				<p th:text="${success}"></p>
			</div>
		</div>
		
		<div class="col-lg-12" id="msgBlock">
			<div class="alert alert-dismissible alert-success">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<span id="displayMsg"></span>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 text-center">
				<span class="subheader-title">EVENTS</span>

			</div>

		</div>

		<form th:action="@{/collect/startEvent/input}">
			<div class="top-head">
				<a href="javascript:void(0)" class="btn btn-sm btn-add"
					data-toggle="modal" data-target="#createDialog"><i
					class="fa fa-plus"></i> Create</a>

			</div>

			<div class=" mb-3">
				<table class="ttable table-striped table-bordered" th:id="eventList ">
					<thead>
						<th>Event Name</th>
						<th>Status</th>
						<th>Last Activity By</th>
						<th class="action">Action</th>

					</thead>
					<tbody>
						<!-- <tr>
							<td>Halloweenn</td>
							<td>Not Started</td>
							<td></td>
							<td class="action"><a
								th:href="@{/collect/startEvent/input?eventName=Halloween}"
								class="icon-action" data-toggle="tooltip" data-placement="top"
								title="Start"><i class="fa fa-external-link"></i></a>&nbsp;&nbsp;<a
								th:href="@{/collect/stopEvent}" class="icon-action"
								data-toggle="tooltip" data-placement="top" title=""
								data-original-title="Stop"><i class="fa fa-ban"></i></a>&nbsp;&nbsp;<a
								th:href="@{/collect/deleteEvent}" class="icon-action"
								data-toggle="tooltip" data-placement="top" title=""
								data-original-title="Delete"><i class="fa fa-trash-o"></i></a></td>
						</tr>
						<tr>
							<td>Winter Olympics 2018</td>
							<td>In Progress</td>
							<td>John, 17 Dec 2018, 11:00 AM</td>
							<td class="action"><a
								th:href="@{/collect/startEvent/input?eventName=Halloween}"
								class="icon-action" data-toggle="tooltip" data-placement="top"
								title="Start"><i class="fa fa-external-link"></i></a>&nbsp;&nbsp;<a
								th:href="@{/collect/stopEvent}" class="icon-action"
								data-toggle="tooltip" data-placement="top" title=""
								data-original-title="Stop"><i class="fa fa-ban"></i></a>&nbsp;&nbsp;<a
								th:href="@{/collect/deleteEvent}" class="icon-action"
								data-toggle="tooltip" data-placement="top" title=""
								data-original-title="Delete"><i class="fa fa-trash-o"></i></a></td>
						</tr>
						<tr>
							<td>Thanksgiving</td>
							 <td>Stoped</td>
							 <td>John, 17 Dec 2018, 05:00 PM</td>
							<td class="action"><a
								th:href="@{/collect/startEvent/input?eventName=Halloween}"
								class="icon-action" data-toggle="tooltip" data-placement="top"
								title="Start"><i class="fa fa-external-link"></i></a>&nbsp;&nbsp;<a
								th:href="@{/collect/stopEvent}" class="icon-action"
								data-toggle="tooltip" data-placement="top" title=""
								data-original-title="Stop"><i class="fa fa-ban"></i></a>&nbsp;&nbsp;<a
								th:href="@{/collect/deleteEvent}" class="icon-action"
								data-toggle="tooltip" data-placement="top" title=""
								data-original-title="Delete"><i class="fa fa-trash-o"></i></a></td>
						</tr> -->
						<tr th:each="event,row: ${listEvents}">
							<td th:text="${event.EventName}">Halloweenn</td>
							<td th:text="${event.status}">Not Started</td>
							<td></td>
							<td class="action"><a
								th:href="@{/collect/startEvent/input?(eventName=${event.EventName})}"
								class="icon-action" data-toggle="tooltip" data-placement="top"
								title="Start"><i class="fa fa-external-link"></i></a>&nbsp;&nbsp;<a
								th:href="@{/collect/stopEvent}" class="icon-action"
								data-toggle="tooltip" data-placement="top" title=""
								data-original-title="Stop"><i class="fa fa-ban"></i></a>&nbsp;&nbsp;<a
								th:href="@{/collect/deleteEvent}" class="icon-action"
								data-toggle="tooltip" data-placement="top" title=""
								data-original-title="Delete"><i class="fa fa-trash-o"></i></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</form>



	</div>


	<!-- 
 <div class="row">
 		
 
	<div class="col-lg-8 offset-md-2">
		<div class="card border-secondary mb-3">
		  <div class="card-header text-center"><h4>Events</h4></div>
		 <form th:action="@{/collect/startEvent/input}" >
			  <div class="card-body">
			  <h4>Events &nbsp;<a href="javascript:void(0)" class="btn btn-sm btn-secondary pill-right"  data-toggle="modal" data-target="#createDialog">Create</a></h4>
				<ul class="list-group">
				  <li class="list-group-item d-flex justify-content-between align-items-center">
				     Halloween
				    <div>
				    	<a th:href="@{/collect/startEvent/input?eventName=Halloween}" class="btn btn-sm btn-secondary">Start</a>&nbsp;&nbsp;<a th:href="@{/collect/stopEvent}" class="btn btn-sm btn-secondary">Stop</a>&nbsp;&nbsp;<a th:href="@{/collect/deleteEvent}" class="btn btn-sm btn-secondary">Delete</a>
				    </div>
				  </li>
				  <li class="list-group-item d-flex justify-content-between align-items-center">
				    Winter Olympics 2018
				    <div>
				    	<a th:href="@{/collect/startEvent/input?eventName=Winter Olympics 2018}" class="btn btn-sm btn-secondary">Start</a>&nbsp;&nbsp;<a th:href="@{/collect/stopEvent}" class="btn btn-sm btn-secondary">Stop</a>&nbsp;&nbsp;<a th:href="@{/collect/deleteEvent}" class="btn btn-sm btn-secondary">Delete</a>
				    </div>
				  </li>
				  <li class="list-group-item d-flex justify-content-between align-items-center">
				    Thanksgiving
				    <div>
				    	<a th:href="@{/collect/startEvent/input?eventName=Thanksgiving}" class="btn btn-sm btn-secondary">Start</a>&nbsp;&nbsp;<a th:href="@{/collect/stopEvent}" class="btn btn-sm btn-secondary">Stop</a>&nbsp;&nbsp;<a th:href="@{/collect/deleteEvent}" class="btn btn-sm btn-secondary">Delete</a>
				    </div>
				  </li>
				</ul>
			  </div>
		</div>
	</div>
	 </form> 
</div> --> 
	<script th:src="@{/js/app/collectListing.js}"
		src="../public/js/app/collectListing.js" type="text/javascript"></script>
</div>
</div>
</body>
</html>