<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>

	<div class="col-md-12 trnslated-box">
		<div class="title-trans">
				<label for="translatedKeywords"> <i class="fa fa-exchange"></i> Translated Keywords</label>
		</div>
	<div th:fragment="translatedKeywords(actionName)">
		<div th:if="${translatedText}">
			<div class="col-padding corresponding-keywords" >
			
				
				<div class="row" th:each="element,row: ${translatedText}">
				<input type="hidden" th:name="listOfCorrespondingKeywordsDto[__${row.index}__].targetLang" th:value="${element.key}"/>
				<input type="hidden" th:name="listOfCorrespondingKeywordsDto[__${row.index}__].targetValues" th:value="${element.value}"/>
					<div class="col-md-2 form-group">
						<label th:for="${element.key}"> <span
							th:text='${element.key}'></span>
						</label>
					</div>
					<div class="col-md-10 form-group">
						<input type="text" class="form-control" id="translatedKeywords" th:value="${element.value}">
					</div>
				</div>
			</div>
			<div class="form-group text-right">
				<input type="hidden" th:name="keywordsAllLanguages" th:value="${keywordsAllLanguages}" />
				  <input type="submit" class="btn btn-global" th:value="${actionName}" th:if="${status} == 'CREATED' or ${status} == 'STOPPED'"/>
			</div>
		</div>
	</div>
</div>


</body>
</html>