<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/mainLayout}">
<body>
	<main layout:fragment="content"> 
		<div class="container">
		<div class="col-lg-12" th:if="${error}" >
			<div class="alert alert-dismissible alert-danger">
		  		<button type="button" class="close" data-dismiss="alert">&times;</button>
		  		<strong>Oh snap!</strong> <p th:text="${error}"></p>
			</div>
		</div>
	
	<div class="col-lg-12" th:if="${success}">
		<div class="alert alert-dismissible alert-success">
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		  <p th:text="${success}"></p>
		</div>
	</div>
	

		<div class="row main-box-login">
				<div class="col-md-7">
	
						<div class="logo-left-image">
	
								<img th:src="@{/images/login-left.png}" />
								
													</div>
	
				</div>
				<div class="col-lg-5">
					 <div class="col-md-12 login-form">
	
						<div class="logo-image">
	
	
						</div>
						<form th:action="@{/confirmSignup/execute}" th:object="${confirmSignUpDto}" method="post" >
							<fieldset>
								<legend class="text-center">Confirm Sign Up</legend>
								<div class="form-group">
										<input type="hidden" class="form-control" th:field="*{email}"  placeholder="Enter your Email" />
									</div>
									<div class="form-group">
										  <label for="temporaryPassword">Temporary Password</label>
										  <div class="input-group">
										  <div class="input-group-append">
												<span class="input-group-text"><i class="fa fa-lock"></i></span>
											  </div>
										  <input type="password" class="form-control"  th:field="*{tempPassword}"  placeholder="TEMPORARY PASSWORD">
										</div>
									</div>
									<div class="form-group">
										  <label for="password">New Password</label>
										  <div class="input-group">
											    <div class="input-group-append">
														<span class="input-group-text"><i class="fa fa-lock"></i></span>
													  </div>
										  <input type="password" class="form-control"  th:field="*{newPassword}"  placeholder="NEW PASSWORD REQUIRED">
										  </div>
									</div>
									<div class="form-group">
										<button type="submit" class="btn btn-global">Change Password</button>
									</div>
							</fieldset>
						</form>
					</div>
					</div>
			</div>
	</div>
</main>
</body>
</html>