<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/mainLayout}">
<body>
	<main layout:fragment="content"> <!-- <h3>Athena POC</h3> -->
	
	<div class="col-lg-12" th:if="${error}">
		<div class="alert alert-dismissible alert-danger">
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		  <strong>Oh snap!</strong> <p th:text="${error}"></p>.
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4 mx-auto">
			<div class="card mb-3">
				<div class="card-body">
<!-- 					<a href="Javascript: Common.comingSoon()" class="btn btn-secondary btn-lg btn-block ">Collect</a>
 -->					 <a th:href="@{/collect/}" class="btn btn-secondary btn-lg btn-block ">Collect</a> 
				</div>
			</div>
		</div>
		<div class="col-lg-4 mx-auto">
			<div class="card mb-3">
				<div class="card-body">
					<a th:href="@{/analyze}" class="btn btn-secondary btn-lg btn-block ">Analyze</a>
				</div>
			</div>
		</div>
	</div>



	</main>
</body>
</html>