<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headTag">
        <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
<link rel="icon" th:href="@{/images/favicon.png}" href="../public/images/favicon.png" type="image/png"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"	content="initial-scale=1, maximum-scale=1, user-scalable=no" />
<link th:href="@{/css/bootstrap.min.css}" href="../public/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link th:href="@{/css/bootstrap-tagsinput.css}" href="../public/css/bootstrap-tagsinput.css" rel="stylesheet" type="text/css" />
<link th:href="@{/css/jquery.dataTables.min.css}" href="../public/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link th:href="@{/css/style.css}" href="../public/css/style.css" rel="stylesheet" type="text/css"/>
<script th:src="@{/js/jquery.min.js}" src="../public/js/jquery.min.js" type="text/javascript"></script>
<script th:src="@{/js/bootstrap-tagsinput.js}" src="../public/js/bootstrap-tagsinput.js" type="text/javascript"></script>
<link th:href="@{/css/dataTables.bootstrap4.min.css}" href="../public/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />

<title>Twitter Analytics System</title>
</head>
<body>

</body>
</html>